@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@model MS.CoachSystem.Web.ViewModels.CreateStudentViewModel

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="UserName">Kullanıcı Adı</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name">İsim</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname">Soyisim</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">Şehir</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BirthDate">Doğum Tarihi</label>
        <input asp-for="BirthDate" type="date" class="form-control" />
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TCKN">TC No</label>
        <input asp-for="TCKN" class="form-control" />
        <span asp-validation-for="TCKN" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Cinsiyet</label>
        <select asp-for="Gender" class="form-control">
            <option value="Male">Erkek</option>
            <option value="Female">Kadın</option>
            <option value="Other">Diğer</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Oluştur</button>
</form>