@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Koçluk Uygulamasına Hoş Geldiniz!</h1>
        <p class="lead">Koçluk uygulamamız, koçlar ve öğrenciler arasındaki iletişimi ve işbirliğini güçlendirmek için tasarlanmıştır.</p>
        <hr class="my-4">
        <p>Görev yönetimi, hedef belirleme ve takip etme gibi özelliklerle koçluk sürecinizi daha verimli hale getirin.</p>
    </div>
</div>

