@model MS.CoachSystem.Web.ViewModels.CreateCoachingSessionViewModel

@{
    ViewData["Title"] = "Yeni Görüşme Ekle";
    Layout = "_StudentManagentLayout";
}

<div class="container mt-4">
    <h2>Yeni Görüşme Ekle</h2>

    <form asp-action="Create" method="post" class="form-horizontal">
        <input type="hidden" value=""/>
        <div class="form-group">
            <label asp-for="SessionTopic" class="control-label"></label>
            <input asp-for="SessionTopic" class="form-control"/>
            <span asp-validation-for="SessionTopic" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionNotes" class="control-label"></label>
            <textarea asp-for="SessionNotes" class="form-control"></textarea>
            <span asp-validation-for="SessionNotes" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionLocation" class="control-label"></label>
            <input asp-for="SessionLocation" class="form-control"/>
            <span asp-validation-for="SessionLocation" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionDate" class="control-label"></label>
            <input asp-for="SessionDate" class="form-control" type="date"/>
            <span asp-validation-for="SessionDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionTime" class="control-label"></label>
            <input asp-for="SessionTime" class="form-control" type="time"/>
            <span asp-validation-for="SessionTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SessionStatus" class="control-label"></label>
            <input asp-for="SessionStatus" class="form-control"/>
            <span asp-validation-for="SessionStatus" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Görüşme Ekle" class="btn btn-primary"/>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


