@using Microsoft.AspNetCore.Mvc.ModelBinding
@model MS.CoachSystem.Web.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginRegisterLayout";
}


@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger" role="alert">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
}


<div class="login-box">
    <h2>Coachly</h2>        
    <form asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-4">Login</button>
    </form>

</div>